@import url("https://fonts.googleapis.com/css2?family=Padauk&display=swap");
:root {
  --header: #232c33;
  --words-light: #ffffff;
  --bg: #394955;
  --section-dark: #254458;
  --section-light: #edfbff;
  --accent: #47bdff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--bg);
  overflow: hidden;
}

header {
  background-color: var(--header);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 5%;
  height: 70px;
  line-height: 1;
}

header li a {
  font-family: Padauk, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--words-light);
  text-decoration: none;
}

.logo svg {
  cursor: pointer;
  display: block;
  width: 15%;
  height: 15%;
  fill: var(--words-light);
  stroke: var(--words-light);
  position: relative;
  -webkit-transition: fill, stroke 0.4s ease-out;
  transition: fill, stroke 0.4s ease-out;
}

.logo svg:hover {
  fill: var(--accent);
  stroke: var(--accent);
}

.header-nav li {
  list-style: none;
  display: inline-block;
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header-nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
  line-height: 1;
}

.header-nav li a svg {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--words-light);
  position: relative;
  -webkit-transition: fill 0.4s ease-out;
  transition: fill 0.4s ease-out;
  min-height: 0;
}

.header-nav li a:hover {
  color: var(--accent);
}

.header-nav li a:hover svg {
  fill: var(--accent);
}

.introduction {
  margin: 10vh;
  min-height: 50vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--words-light);
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  border: 1px solid red;
}

.introduction img {
  border-radius: 50%;
}

.introduction .words {
  padding: 1.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 75ch;
  line-height: 1.6;
  border: 1px solid red;
}

.introduction .words .title {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.introduction .words .title::after {
  content: "";
  position: absolute;
  height: 3px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--accent);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.introduction .words .body {
  margin-top: 1rem;
  background-color: var(--section-dark);
}

.introduction:hover .title::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.introduction .profile {
  display: block;
  float: right;
  width: 30%;
  height: 30%;
  border: 1px solid red;
}
/*# sourceMappingURL=style.css.map */